<h1>Lista de Unidades</h1>

<%= link_to 'Nova Unidade', new_unidade_path, class: 'btn btn-primary' %>

<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @unidades.each do |unidade| %>
      <tr>
        <td><%= unidade.nome %></td>
        <td><%= unidade.descricao %></td>
        <td>
          <%= link_to 'Editar', edit_unidade_path(unidade), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Excluir', unidade_path(unidade), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

