<div class="header-container">
  <h1>Setores</h1>
<%= link_to 'Adicionar +', new_setore_path, class: 'btn btn-primary' %>
</div>

<p>Para criar um novo setor, clique no botão “Adicionar +”.</p>


<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Unidade</th>
      <th>Funcionários</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @setores.each do |setor| %>
      <tr>
        <td><%= setor.nome %></td>
        <td><%= setor.descricao %></td>
        <td><%= setor.unidade&.nome || 'Sem unidade' %></td>
        <td>
          <% funcionarios = User.where(role: 'funcionario', setor_id: setor.id) %>
          <% if funcionarios.any? %>
            <ul>
              <% funcionarios.each do |funcionario| %>
                <li><%= funcionario.nome %></li>
              <% end %>
            </ul>
          <% else %>
            <p>Sem funcionários</p>
          <% end %>
        </td>
        <td>
        <%= link_to edit_setore_path(setor), class: 'btn btn-warning btn-sm' do %>
          <i class="fas fa-edit"></i>
        <% end %>
        
        <%= link_to setore_path(setor), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
      
      </tr>
    <% end %>
  </tbody>
</table>
