<h1>Lista de Setores</h1>

<%= link_to 'Novo Setor', new_setore_path, class: 'btn btn-primary' %>

<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Funcionários</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @setores.each do |setor| %>
      <tr>
        <td><%= setor.nome %></td>
        <td><%= setor.descricao %></td>
        <td>
          <% if setor.funcionarios.any? %>
            <ul class="list-unstyled">
              <% setor.funcionarios.each do |funcionario| %>
                <li><%= funcionario.nome %></li>
              <% end %>
            </ul>
          <% else %>
            Nenhum funcionário
          <% end %>
        </td>
        <td>
          <%= link_to 'Editar', edit_setore_path(setor), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Excluir', setore_path(setor), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
