<h1><%= @setor.nome %></h1>
<p><%= @setor.descricao %></p>

<h2>Funcionários</h2>
<ul>
  <% @setor.funcionarios.each do |funcionario| %>
    <li><%= funcionario.nome %></li>
  <% end %>
</ul>

<%= link_to "Editar", edit_setore_path(@setor) %> |
<%= link_to 'Voltar', setores_path %>