<!-- app/views/dashboards/administrador.html.erb -->

<h1>Painel de Administrador</h1>
<p>Bem-vindo ao painel de administração, <%= current_user.nome %>!</p>

<!-- Links para navegação -->
<ul>
  <li><%= link_to 'Unidades', unidades_path %></li>
  <li><%= link_to 'Setores', setores_path %></li>
  <li><%= link_to 'Funcionários', funcionarios_path %></li>
  <li><%= link_to 'Usuários', usuarios_path %></li>
</ul>

<!-- Link para logout -->
<%= link_to "Sair", destroy_user_session_path, method: :delete %>
