<h1>Painel do Funcionário</h1>

    <% if @visitas.any? %>
      <table>
        <thead>
          <tr>
            <th>Visitante</th>
            <th>Data/Hora de Chegada</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @visitas.each do |visita| %>
            <tr>
            <td>
            <% if visita.foto.present? %>
              <img src="<%= visita.foto %>" alt="Foto do Visitante" style="max-width: 100px;">
            <% else %>
              Sem foto
            <% end %>
          </td>
              <td><%= visita.visitante.nome %></td>
              <td><%= visita.created_at.strftime('%d/%m/%Y %H:%M') %></td>
              <td>
                <% if visita.confirmado %>
                  <span style="color: green;">Confirmada</span>
                <% else %>
                  <span style="color: orange;">Pendente</span>
                <% end %>
              </td>
              <td>
                <% unless visita.confirmado %>
<%= button_to 'Confirmar Visita', confirmar_visita_path(visita), method: :patch, data: { confirm: "Confirmar a realização desta visita?" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Nenhuma visita agendada.</p>
    <% end %>
    
    <!-- Link para logout -->
<!-- Usando link_to com método delete -->
<%= link_to "Sair", destroy_user_session_path, 
    data: { turbo_method: :delete, confirm: "Tem certeza que deseja sair?" } %>
