<h1>Usuários</h1>

<%= link_to 'Adicionar Usuário', new_usuario_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Função</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @usuarios.each do |usuario| %>
      <% unless usuario.role == 'visitante' %>
        <tr>
          <td><%= usuario.nome %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.cpf %></td>
          <td><%= usuario.telefone %></td>
          <td><%= usuario.role %></td>
          <td>
            <%= link_to 'Editar', edit_usuario_path(usuario), class: 'btn btn-warning' %>
            <%= link_to 'Excluir', usuario_path(usuario), method: :delete, data: { confirm: 'Tem certeza que deseja excluir este usuário?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

