<h1>Funcionários</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Informação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @usuarios.reject { |usuario| usuario.role == "visitante" }.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.cpf %></td>
        <td><%= usuario.telefone %></td>
        <td>
          <% if usuario.role == "funcionario" %>
            <%= usuario.setor.present? ? usuario.setor.nome : "Setor não definido" %>
          <% elsif usuario.role == "atendente" %>
            <%= usuario.unidade.present? ? usuario.unidade.nome : "Unidade não definida" %>
          <% elsif usuario.role == "administrador" %>
            Acesso a tudo
          <% else %>
            Papel não identificado
          <% end %>
        </td>
        <td>
          <% unless usuario.role == "administrador" %>
<%= link_to edit_funcionario_path(usuario), class: 'btn btn-warning' do %>
  <i class="fas fa-edit"></i>
<% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

