<h1>Funcionários</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Informação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.cpf %></td>
        <td><%= usuario.telefone %></td>
        <td>
          <% if usuario.role == "funcionario" %>
            <%= usuario.setor.present? ? usuario.setor.nome : "Setor não definido" %>
          <% elsif usuario.role == "atendente" %>
            <%= usuario.unidade.present? ? usuario.unidade.nome : "Unidade não definida" %>
          <% elsif usuario.role == "administrador" %>
            Acesso a tudo
          <% else %>
            Papel não identificado
          <% end %>
        </td>
        <td>
          <% unless usuario.role == "administrador" %>
<%= link_to 'Editar', edit_funcionario_path(usuario), class: 'btn btn-warning' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  .btn {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
  }

  .btn-primary {
    background-color: #007bff;
    color: white;
  }

  .btn-warning {
    background-color: #ffc107;
    color: black;
  }

  .btn-danger {
    background-color: #dc3545;
    color: white;
  }

  .btn:hover {
    opacity: 0.8;
  }
</style>
